# This is a production version of the Bigcapital docker-compose.yml file.

version: "3.3"

services:
  nginx:
    image: elestio/bigcapital-nginx:latest
    restart: always
    volumes:
      - ./storage/data/logs/nginx/:/var/log/nginx
      # - ./docker/certbot/certs/:/var/certs
    ports:
      - "172.17.0.1:6534:80"
      # - "${PUBLIC_PROXY_SSL_PORT:-443}:443"
    tty: true
    depends_on:
      - server
      - webapp

  webapp:
    image: elestio/bigcapital-webapp:latest
    restart: always

  server:
    image: elestio/bigcapital-server:latest
    restart: always
    links:
      - mariadb
      - mongo
      - redis
    depends_on:
      - mariadb
      - mongo
      - redis
    environment:
      # Mail
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_SECURE=${MAIL_SECURE}
      - MAIL_FROM_NAME=${FROM_EMAIL}
      - MAIL_FROM_ADDRESS=${FROM_EMAIL}

      # Database
      - DB_HOST=mariadb
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_CHARSET=${DB_CHARSET}

      # System database
      - SYSTEM_DB_NAME=${SYSTEM_DB_NAME}

      # Tenants databases
      - TENANT_DB_NAME_PERFIX=${TENANT_DB_NAME_PERFIX}

      # Authentication
      - JWT_SECRET=${JWT_SECRET}

      # MongoDB
      - MONGODB_DATABASE_URL=mongodb://mongo/bigcapital

      # Application
      - BASE_URL=${BASE_URL}

      # Agendash
      - AGENDASH_AUTH_USER=${AGENDASH_AUTH_USER}
      - AGENDASH_AUTH_PASSWORD=${AGENDASH_AUTH_PASSWORD}

      # Sign-up restrictions
      - SIGNUP_DISABLED=${SIGNUP_DISABLED}
      - SIGNUP_ALLOWED_DOMAINS=${SIGNUP_ALLOWED_DOMAINS}
      - SIGNUP_ALLOWED_EMAILS=${SIGNUP_ALLOWED_EMAILS}

  database_migration:
    image: elestio/bigcapital-migration:latest
    restart: always
    environment:
      # Database
      - DB_HOST=mariadb
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_CHARSET=${DB_CHARSET}
      - SYSTEM_DB_NAME=${SYSTEM_DB_NAME}
      # Tenants databases
      - TENANT_DB_NAME_PERFIX=${TENANT_DB_NAME_PERFIX}
    depends_on:
      - mariadb

  mariadb:
    image: elestio/bigcapital-mariadb:latest
    restart: always
    environment:
      - MARIADB_DATABASE=${SYSTEM_DB_NAME}
      - MARIADB_USER=${DB_USER}
      - MARIADB_PASSWORD=${DB_PASSWORD}
      - MARIADB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
    volumes:
      - ./storage/mariadb:/var/lib/mariadb
    expose:
      - "3306"

  mongo:
    image: elestio/bigcapital-mongo:latest
    restart: always
    expose:
      - "27017"
    volumes:
      - ./storage/mongo:/var/lib/mongodb

  redis:
    image: elestio/bigcapital-redis:latest
    restart: always
    expose:
      - "6379"
    volumes:
      - ./storage/redis:/data
